<footer>
  
        <div class="row">

            <div class="col-sm">

                <div class="col-12">
                    <img class="presentation" src="assets/img/logo/logo.svg"
                        onerror="this.onerror=null; this.src='assets/img/logo/logo.png'" alt="">
                </div>

            </div>

            <div class="col-sm">
                <button type="button" class="btn btn-white" data-toggle="button " aria-pressed="false ">
                    Добавить курс
                </button>
                <div><a class="item-curs" href="#">Контакты</a></div>
                <div><a class="item-curs" href="#">О нас</a></div>
                <div><a class="item-curs" href="#">Блог</a></div>
            </div>

            <div class="col-sm">
                <div class="col-12 justify-content-center">

                        <p>Связатся с нами:</p>
                 

                     <div class="col-12">
                         <a class="item-curs" href="mailto: waybe@gmail.com?subject=Waybe info">
                            <img class="presentation" src="assets/img/icon/email.svg"
                                onerror="this.onerror=null; this.src='assets/img/icon/email.png'" alt="">
                            waybe@gmail.com</a>
                    </div>

                    <div class="col-12">
                        <a class="item-curs" href="tel:+380983582010">
                           <img class="presentation" src="assets/img/icon/telegram.svg"
                               onerror="this.onerror=null; this.src='assets/img/icon/telegram.png'" alt="">
                          098-358-2010</a>
                   </div>
                </div>

            </div>

            <div class="col-sm">

                <div class="col-12 justify-content-center">
                    <p>Подписывайтесь на нас</p>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <a class="item-curs" href="#"><img src="assets/img/icon/instagram.svg"
                                onerror="this.onerror=null; this.src='assets/img/icon/instagram.png'" alt=""></a>
                    </div>
                    <div class="col-sm">
                        <a class="item-curs" href="#"><img src="assets/img/icon/facebook.svg"
                                onerror="this.onerror=null; this.src='assets/img/icon/facebook.png'" alt=""></a>
                    </div>
                    <div class="col-sm">
                        <a class="item-curs" href="#"><img src="assets/img/icon/youtube.svg"
                                onerror="this.onerror=null; this.src='assets/img/icon/youtube.png'" alt=""></a>
                    </div>
                    <div class="col-sm">
                        <a class="item-curs" href="#"><img src="assets/img/icon/instagram.svg"
                                onerror="this.onerror=null; this.src='assets/img/icon/instagram.png'" alt=""></a>
                    </div>
                </div>


            </div>

        </div>
</footer>