footer {
    width: 100%;
    height: auto;
    padding: 50px 111px;
    margin: 0;
    background-attachment: fixed;
    background-color: #001634;
    color: #ffffff;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto-Regular", Roboto;   
}

.btn-white{
    padding: 3px 25px !important;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto-Regular", Roboto;    
    border-radius: 20% / 70%;
    background-color: #ffffff;
}


.btn-white:hover {
    font-size: 24px;      
}


footer a:link {
    display:inline-block;
    padding-top: 35px;
    color: var(--a-white-color, #ffffff);
    /* Цвет ссылок */
}

footer a:visited {
    color: #ffffff;
    /* Цвет посещенных ссылок */
}

footer a:hover {
    font-size: 21px;
    text-decoration: none;
    color: #ffffff;
}
