<nav class="navbar navbar-expand-lg navbar-light bg-light add_curs-nav">

    <a class="navbar-brand" [routerLink]="['/']"><img class="presentation" src="assets/img/logo/logo_home.svg" onerror="this.onerror=null; this.src='assets/img/logo/logo_home.png'" alt=""></a>
</nav>


<div class="row add_curs-bloc bloc-color">
    <p class="title-h1">Форма добавления нового курса</p>
</div>

<div class="row add_curs-bloc">
    <ol class="progtrckr" data-progtrckr-steps="7">
        <li class="progtrckr-done">1</li>
        <li class="progtrckr-done">2</li>
        <li class="progtrckr-done">3</li>
        <li class="progtrckr-step">4</li>
        <li class="progtrckr-todo">5</li>
        <li class="progtrckr-todo">6</li>
        <li class="progtrckr-todo">7</li>
    </ol>
</div>

<div class="row add_curs-bloc">

    <div class="col-sm">
        <p class="title-h2">Форма обучения:
            <span style="color:red;"> *</span>
        </p>
        <div class="form-check">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1"><span class="title">Online</span></label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2"><span class="title">Offline</span></label>
            </div>
        </div>
    </div>

    <div class="col-sm ">

        <p class="title-h2">Язык описания курса:
            <span style="color:red;"> *</span>
        </p>
        <div class="form-check">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3" name="customRadioInline2" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline3"><span class="title">Русский</span></label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline4" name="customRadioInline2" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline4"><span
                        class="title">Українська</span></label>
            </div>
        </div>
    </div>
</div>

<!-- ////////////////////// -->

<div class="row add_curs-bloc">


    <div class="col-sm">
        <p class="title-h2">Название курса:
            <span style="color:red;"> *</span>
        </p>

        <div class="form-inline col-12 pl-0">
            <input class="form-control col-md-11 col-sm-12 input" type="text" placeholder="Например, курсы маникюра">
        </div>
    </div>

    <div class="col-sm ">
        <p class="title-h2">Подзаголовок курса:
            <a class="css-tooltip-right color-white" href="#">
                <span>
                    Подзаголовок не может быть длиннее 150 символов. 
            </span>
                <img src="assets/img/icon/question.svg" onerror="this.onerror=null; this.src='question.png'" alt=""></a>
        </p>

        <div class="col-12 p-0">


            <div class="col-12 p-0">
                <textarea rows="3" name="text" class="form-control col-md-11 col-sm-12 aray" placeholder="Например, курсы маникюра"></textarea>
            </div>
        </div>
    </div>

</div>
<!-- ////////////////////// -->
<div class="row add_curs-bloc">


    <div class="col-sm">

        <p class="title-h2">Описание курса:
            <a class="css-tooltip-right tooltip-lg color-white" href="#">
                <span>
                    Добавьте всю необходимую информацию о курсе - опишите суть курса,
                     преимущества, для кого подходит, чему научатся студенты, какими будут занятия 
                     (групповые, индивидуальные, в классе или online), что студенты получат в итоге 
                    (работу, готовый проект для портфолио, новое хобби).
                </span>
                <img src="assets/img/icon/question.svg" onerror="this.onerror=null; this.src='question.png'" alt=""></a>
        </p>


        <div class="col-12 p-0">
            <textarea rows="10" name="text" class="form-control col-md-11 col-sm-12 aray-lg" placeholder="Например, курсы маникюра"></textarea>
        </div>

    </div>

</div>


<!-- ////////////////////// -->

<div class="row add_curs-bloc">

    <div class="col-sm ">
        <p class="title-h2">Подзаголовок курса:
            <a class="css-tooltip-right color-white" href="#">
                <span>
                    Подзаголовок не может быть длиннее 150 символов. 
            </span>
                <img src="assets/img/icon/question.svg" onerror="this.onerror=null; this.src='question.png'" alt=""></a>
        </p>

        <div class="col-12 p-0">


            <div class="col-12 p-0">
                <textarea rows="3" name="text" class="form-control col-md-11 col-sm-12 aray" placeholder="Например, курсы маникюра"></textarea>
            </div>
        </div>
    </div>


    <div class="col-sm">
        <p class="title-h2">Название курса:
            <span style="color:red;"> *</span>
        </p>

        <div class="form-inline col-12 pl-0">
            <input class="form-control col-md-11 col-sm-12 input" type="text" placeholder="Например, курсы маникюра">
        </div>
    </div>


</div>
<!-- ////////////////////// -->


<div class="row">
    <div class="col-1">
    </div>
    <div class="col-2">

        <a class="css-tooltip-left color-white" href="#"><span>W3lessons.info - Web 2.0 Programming Blog</span>Top
            tooltip</a></div>

    <div class="col-2">
        <a class="css-tooltip-right color-white" href="#"><span>W3lessons.info - Web 2.0 Programming Blog</span>Top
            tooltip</a>
    </div>

    <div class="col-2">
        <a class="css-tooltip-bottom color-white" href="#"><span>W3lessons.info - Web 2.0 Programming Blog</span>Top
            tooltip</a></div>

    <div class="col-2">
        <a class="css-tooltip-top color-white" href="#"><span>W3lessons.info - Web 2.0 Programming Blog</span>Top
            tooltip</a>
    </div>

</div>