<nav class="navbar navbar-expand-lg navbar-light bg-light add_curs-nav">

    <a class="navbar-brand" [routerLink]="['/']"><img class="presentation" src="assets/img/logo/logo_home.svg"
            onerror="this.onerror=null; this.src='assets/img/logo/logo_home.png'" alt=""></a>
</nav>


<div class="row add_curs-bloc bloc-color">
    <p class="title-h1">Форма добавления нового курса</p>
</div>

<div class="row add_curs-bloc">
<ol class="progtrckr" data-progtrckr-steps="7">
    <li class="progtrckr-done">1</li>
    <li class="progtrckr-done">2</li>
    <li class="progtrckr-done">3</li>
    <li class="progtrckr-step">4</li>
    <li class="progtrckr-todo">5</li>
    <li class="progtrckr-todo">6</li>  
    <li class="progtrckr-todo">7</li>     
</ol>
</div>