.add_curs-nav {
    padding: 37px 111px;
}

.add_curs-bloc {
    padding: 38px 111px;
}

.add_curs-bloc .col-sm {
    padding: 0;
}

.bloc-color {
    background-color: #f4f9ff;
}


/* Шкала шагов */

ol.progtrckr {
    width: 100%;
    margin: 0;
    padding: 3px;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="4"] li {
    width: 24%;
}

ol.progtrckr[data-progtrckr-steps="5"] li {
    width: 19%;
}

ol.progtrckr[data-progtrckr-steps="6"] li {
    width: 16%;
}

ol.progtrckr[data-progtrckr-steps="7"] li {
    width: 14%;
}

ol.progtrckr[data-progtrckr-steps="8"] li {
    width: 12%;
}

ol.progtrckr[data-progtrckr-steps="9"] li {
    width: 11%;
}

ol.progtrckr li.progtrckr-done {
    border-bottom: 2px solid #428cf2;
}

ol.progtrckr li.progtrckr-step {
    /*  border-bottom: 2px solid #428cf2; */
    border-bottom: 2px solid transparent;
    /* -moz-border-image: -moz-linear-gradient(#0E9ADF 0%, #0625F9 100%);
    -webkit-border-image: -webkit-linear-gradient(#0E9ADF 0%, #0625F9 100%); */
    border-image: linear-gradient(to right, #428cf2 0%, #d2d6e4 80%);
    border-image-slice: 1;
}

ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 2px solid #d2d6e4;
}

ol.progtrckr li:before {
    position: relative;
    bottom: -2.1em;
    float: left;
    left: 50%;
    line-height: 1em;
}

ol.progtrckr li.progtrckr-done:before {
    content: url(/assets/img/circle/circle_done.png);
    /*   background-image: radial-gradient(circle, #3488ee 3px, #f4f9ff, #3488ee 50px); */
    height: 2.1em;
    width: 2.1em;
    line-height: 2.1em;
    border-color: 4px solid black;
    border-radius: 2.1em;
}

ol.progtrckr li.progtrckr-step:before {
    content: url(/assets/img/circle/circle_step.png);
    height: 2.1em;
    width: 2.1em;
    line-height: 2.1em;
    border-color: 4px solid black;
    border-radius: 2.1em;
}

ol.progtrckr li.progtrckr-todo:before {
    content: url(/assets/img/circle/circle_not.png);
    bottom: -2.1em;
}


/* RADIO  */

.form-check {
    padding: 0;
}

.form-check .title {
    padding-left: 20px;
    padding-right: 36px;
}

.form-check .custom-control-label {
    color: #2c2b2c;
    font-size: 16px;
    line-height: 2.1;
    /*  text-transform: uppercase; */
}

.form-check .custom-control-label::after,
.form-check .custom-control-label::before {
    height: 21px;
    width: 21px;
}

.form-check .custom-control-label::before {
    background-color: #fff;
    border: 1px solid #2c2b2c;
    border-radius: 50%;
}


/* When I remove background the icon goes back to that default size */

.custom-control-input:checked~.custom-control-label::before {
    background-color: white;
    border: 1px solid #2c2b2c;
    box-shadow: 0px 0px 2px var( --black-color, black);
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url(/assets/img/form/radio.png);
}

.aray, .aray:focus {
    border: 1px solid var(--blue-color, #29B0D9);
    /* Параметры рамки */
    padding-right: 83px;
    padding-top: 15px;
    border-radius: 5% / 70%;
}

.aray:focus {
    box-shadow: 0px 0px 3px var( --blue-color, #29B0D9);
  
}

.aray::placeholder {
    line-height: 1.2em;
    color: #797570;
    padding-top: 0px;
    white-space: normal;
}

.aray-lg {
    border: 1px solid var(--blue-color, #29B0D9);
    /* Параметры рамки */
    padding-left: 4%;
    /* Поле слева */
    border-radius: 3% / 50%;
}

.aray-lg::placeholder {
    background-image: url(/assets/img/icon/rectangle.png);
    background-position: left top;
    background-repeat: no-repeat;
    line-height: 1.2em;
    color: #797570;
    padding-top: 37px;
    white-space: normal;
}


/* сдвиг placeholder-а вправо при фокусе*/

.input:-webkit-input-placeholder {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

.input:-moz-placeholder {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

.input:-moz-placeholder {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

.inputy:-ms-input-placeholder {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

.input:focus::-webkit-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

.input:focus::-moz-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

.input:focus:-moz-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

.input:focus:-ms-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}