
<div class="shull">
<h1 class="col-12 marc-title">Маркетплейс профессиональных курсов в Ивано-Франковске</h1>
</div>  
<div class="row no-gutters">

    <form class="form-inline col-12">

        <input class="form-control input-s col-md-6 col-sm-12" type="search"
            placeholder="Поиск по курсам, категориям, именам" aria-label="Search">


        <select style='font-weight: bold;' class="form-control select-s col-md-4 col-sm-12 m-md-4"
            searchable="Search here..">

            <option value="" disabled selected>
                Ивано-Франковск
            </option>
            <option value="1">Киев</option>
            <option value="2">Харьков</option>
            <option value="3">Винница</option>
        </select>
        <button class="btn btn-black" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
        </button>

    </form>

</div>

<div class="row no-gutters shull">

    <div class="col-sm">
        <div class="row">
            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/Icon_presentation.svg"
                    onerror="this.onerror=null; this.src='Icon_presentation.png'" alt="">

                <h1>126</h1>
                <p>
                    online и offline
                    <br>
                    курсов
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="row">
            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/icon_student.svg"
                    onerror="this.onerror=null; this.src='icon_student.png'" alt="">

                <h1>85</h1>
                <p>
                    профессий
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="row">
            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/icon_school.svg"
                    onerror="this.onerror=null; this.src='icon_school.png'" alt="">

                <h1>35</h1>
                <p>
                    учебных центров
                    <br>
                    и экспертов
                </p>
            </div>
        </div>
    </div>

</div>

