/* You can add global styles to this file, and also import other style files */
/*
https://fontawesome.com/v4.7.0/icons/
https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp
https://getbootstrap.com/docs/4.5/components/buttons/
*/