    .presentation {
        /* padding-left: 16px; */
        float: left;
        /* Выравнивание по левому краю */
        margin: 7px 7px 7px 0;
        /* Отступы вокруг картинки */
    }
    
    .presentation-text {
        position: relative;
        bottom: 0px;
    }
    /* Блок списка курсов */
    
    .city-curs-color {
        background-color: #f4f9ff;
    }
    
    .city-curs {
        padding: 0 111px  80px 111px;
        margin: 0;
    }
    
    .read-curs a {
        font-size: 36px;
        color: var(--a-blue-color, #1a22c7) !important;
        /* Цвет ссылок */
    }

    
    .city-curs a:link {
        color: var(--a-blue-color, #404e62);
        /* Цвет ссылок */
    }
    
    .city-curs a:visited {
        color: #404e62;
        /* Цвет посещенных ссылок */
    }
    
    .city-curs a:hover {
        text-decoration: none;
        color: #1a22c7;
    }
    
    li {
        list-style-type: none;
        /* Убираем маркеры */
        padding-left: 39px;
    }
    
    .title-category {
        padding: 10px 0px 20px 80px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 24px;
    line-height: 1em;
    }

    .title_curs{
        width: 100%;
        padding: 50px 0px 50px 0px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 32px;
    line-height: 1em;

    }
    
    .button-end {
        position: absolute;
        bottom: 0px;
    }

    .mycol{
        width:100%;
        padding-right: 0 !important;
        padding-left: 0 !important;

    }

   .col-sm {
        padding-left:0 !important;      
    }

    .city-item_block{
        padding-bottom: 30px !important;
        font-size: 24px;
    }
