<div class="row city-curs-color">

    <div class="row city-curs ">
        <div class="col-12">
            <h4>Курсы в Ивано-Франковске</h4>
        </div>

        <div class="col-sm">

            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/beauty-category.svg"
                    onerror="this.onerror=null; this.src='beauty-category.png'" alt="">
            </div>

            <div class="title-category">Красота</div>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>

        <div class="col-sm">
            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/it-category.svg"
                    onerror="this.onerror=null; this.src='it-category.png'" alt="">
            </div>

            <div class="title-category">IT</div>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>
        <div class="col-sm">
            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/marketing-category.svg"
                    onerror="this.onerror=null; this.src='marketing-category.png'" alt="">
            </div>

            <div class="title-category">Маркетинг</div>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>

                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>

            </ul>

        </div>





        <div class="w-100"></div>








       <div class="col-sm">

            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/paints-category.svg"
                    onerror="this.onerror=null; this.src='paints-category.png'" alt="">
            </div>

            <div class="title-category">Красота</div>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>

        <div class="col-sm">
            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/suitcase-category.svg"
                    onerror="this.onerror=null; this.src='suitcase-category.png'" alt="">
            </div>

            <div class="title-category">IT</div>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>
        <div class="col-sm">
            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/recipe-book-category.svg"
                    onerror="this.onerror=null; this.src='recipe-book-category.png'" alt="">
            </div>

            <div class="title-category">Маркетинг</div>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>

                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>

            </ul>

        </div>








        <div class="w-100"></div>

        


        <div class="col-sm">

            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/hammer-category.svg"
                    onerror="this.onerror=null; this.src='hammer-category.png'" alt="">
            </div>

            <div class="title-category">Красота</div>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>

        <div class="col-sm">
            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/route-category.svg"
                    onerror="this.onerror=null; this.src='route-category.png'" alt="">
            </div>

            <div class="title-category">IT</div>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>
        <div class="col-sm">
            <div class="col-sm justify-content-start">
                <img class="presentation" src="assets/img/other-category.svg"
                    onerror="this.onerror=null; this.src='other-category.png'" alt="">
            </div>

            <div class="title-category">Маркетинг</div>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>

                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>

            </ul>

        </div>
        



    </div>

</div>