<div class="city-curs-color">

    <div class="row city-curs">
        <div class="col-12 mycol">
            <p class="title_curs">Курсы в Ивано-Франковске</p>
        </div>

        <div class="col-sm">

            <a class="item-curs" href="#">
                <div class="col-sm justify-content-start">
                    <img class="presentation" src="assets/img/beauty-category.svg"
                        onerror="this.onerror=null; this.src='beauty-category.png'" alt="">
                </div>

                <div class="title-category">Красота</div>
            </a>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>

        <div class="col-sm">
            <a class="item-curs" href="#">
                <div class="col-sm justify-content-start">
                    <img class="presentation" src="assets/img/it-category.svg"
                        onerror="this.onerror=null; this.src='it-category.png'" alt="">
                </div>

                <div class="title-category">IT</div>
            </a>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>
        <div class="col-sm">
            <a class="item-curs" href="#">
                <div class="col-sm justify-content-start">
                    <img class="presentation" src="assets/img/marketing-category.svg"
                        onerror="this.onerror=null; this.src='marketing-category.png'" alt="">
                </div>

                <div class="title-category">Маркетинг</div>
            </a>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>

                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>

            </ul>

        </div>





        <div class="w-100"></div>




        <div class="col-sm">
            <a class="item-curs" href="#">
                <div class="col-sm justify-content-start">
                    <img class="presentation" src="assets/img/paints-category.svg"
                        onerror="this.onerror=null; this.src='paints-category.png'" alt="">
                </div>

                <div class="title-category">Дизайн</div>
            </a>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>

        <div class="col-sm">
            <a class="item-curs" href="#">
                <div class="col-sm justify-content-start">
                    <img class="presentation" src="assets/img/suitcase-category.svg"
                        onerror="this.onerror=null; this.src='suitcase-category.png'" alt="">
                </div>

                <div class="title-category">Бизнес</div>
            </a>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>
        <div class="col-sm">
            <a class="item-curs" href="#">
                <div class="col-sm justify-content-start">
                    <img class="presentation" src="assets/img/recipe-book-category.svg"
                        onerror="this.onerror=null; this.src='recipe-book-category.png'" alt="">
                </div>

                <div class="title-category">Кулинария</div>
            </a>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>

                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>

            </ul>

        </div>




        <div class="w-100"></div>




        <div class="col-sm">
            <a class="item-curs" href="#">
                <div class="col-sm justify-content-start">
                    <img class="presentation" src="assets/img/hammer-category.svg"
                        onerror="this.onerror=null; this.src='hammer-category.png'" alt="">
                </div>

                <div class="title-category">Рабочие специальности</div>
            </a>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>

        <div class="col-sm">
            <a class="item-curs" href="#">
                <div class="col-sm justify-content-start">
                    <img class="presentation" src="assets/img/route-category.svg"
                        onerror="this.onerror=null; this.src='route-category.png'" alt="">
                </div>

                <div class="title-category">Транспорт</div>
            </a>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>
                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>
            </ul>

        </div>
        <div class="col-sm">
            <a class="item-curs" href="#">
                <div class="col-sm justify-content-start">
                    <img class="presentation" src="assets/img/other-category.svg"
                        onerror="this.onerror=null; this.src='other-category.png'" alt="">
                </div>

                <div class="title-category">Другое</div>
            </a>
            <ul>
                <li><a class="item-curs" href="#">Маникюр</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Визаж(Мейкап)</a></li>
                <li><a class="item-curs" href="#">Наращивание ногтей</a></li>
                <li><a class="item-curs" href="#">Коррекция и моделирование бровей</a></li>

                <li><a class="item-curs" href="#">Показать еще
                        <img src="assets/img/icon_arrow_down.png"></a></li>

            </ul>

        </div>
    </div>

</div>

<!-- .............................................................................. -->
<div class="row city-curs">

    <div class="col-12 mycol">
        <p class="title_curs">Курсы по городам</p>
    </div>

    <div class="col-sm city-item_block">
        <a class="item-curs" href="#">Киев</a>
    </div>
    <div class="col-sm city-item_block">
        <a class="item-curs" href="#">Харьков</a>
    </div>
    <div class="col-sm city-item_block">
        <a class="item-curs" href="#">Одесса</a>
    </div>
    <div class="col-sm city-item_block">
        <a class="item-curs" href="#">Одесса</a>
    </div>



    <div class="w-100"></div>



    <div class="col-sm city-item_block">
        <a class="item-curs" href="#">Днепр</a>
    </div>
    <div class="col-sm city-item_block">
        <a class="item-curs" href="#">Донецк</a>
    </div>
    <div class="col-sm city-item_block">
        <a class="item-curs" href="#">Запорожье</a>
    </div>
    <div class="col-sm city-item_block">
        <a class="item-curs"  href="#">Запорожье</a>
    </div>



    <div class="w-100"></div>



    <div class="col-sm city-item_block">
        <a class="item-curs" href="#">Днепр</a>
    </div>
    <div class="col-sm city-item_block">
        <a class="item-curs" href="#">Донецк</a>
    </div>
    <div class="col-sm city-item_block">
        <a class="item-curs" href="#">Запорожье</a>
    </div>
    <div class="col-sm city-item_block">
        <a class="item-curs" href="#">Запорожье</a>
    </div>



</div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="row city-curs">
    <div class="col-12 mycol">
        <p class="title_curs">Курсы от лучших учебных центров</p>
    </div>

    <div class="col-sm">
        <img class="presentation" src="assets/img/snep-centr.svg" onerror="this.onerror=null; this.src='snep-centr.png'"
            alt="">
    </div>

    <div class="col-sm">
        <img class="presentation" src="assets/img/netflix-centr.svg"
            onerror="this.onerror=null; this.src='netflix-centr.png'" alt="">
    </div>

    <div class="col-sm">
        <img class="presentation" src="assets/img/googl-centr.svg"
            onerror="this.onerror=null; this.src='googl-centr.png'" alt="">
    </div>

    <div class="col-sm">
        <img class="presentation" src="assets/img/aple-centr.svg" onerror="this.onerror=null; this.src='aple-centr.png'"
            alt="">
    </div>

    <div class="col-sm">
        <img class="presentation" src="assets/img/snep-centr.svg" onerror="this.onerror=null; this.src='snep-centr.png'"
            alt="">
    </div>

    <div class="col-sm">
        <img class="presentation" src="assets/img/face-center.svg"
            onerror="this.onerror=null; this.src='face-center.png'" alt="">
    </div>




    <div class="w-100"></div>


    <div class="col-sm">
        <img class="presentation" src="assets/img/googl-centr.svg"
            onerror="this.onerror=null; this.src='googl-centr.png'" alt="">
    </div>

    <div class="col-sm">
        <img class="presentation" src="assets/img/sony-playstation-centr.svg"
            onerror="this.onerror=null; this.src='sony-playstation-centr.png'" alt="">
    </div>

    <div class="col-sm">
        <img class="presentation" src="assets/img/face-center.svg"
            onerror="this.onerror=null; this.src='face-center.png'" alt="">
    </div>

    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>

</div>




<!-- ================================================================================================================== -->
<div class="row city-curs">

    <div class="col-12 mycol">
        <p class="title_curs">Курсы от лучших авторов</p>
    </div>

    <div class="col-sm">
        <div class="row justify-content-center">
            <img class="presentation" src="assets/img/teacher/1.png " alt=" ">
        </div>
        <div class="row justify-content-center">
            <p> Иван Иванов</p>
        </div>
    </div>


    <div class="col-sm">
        <div class="row justify-content-center">
            <img class="presentation" src="assets/img/teacher/2.png " alt=" ">
        </div>
        <div class="row justify-content-center">
            <p> Иван Иванов</p>
        </div>
    </div>

    <div class="col-sm">
        <div class="row justify-content-center">
            <img class="presentation" src="assets/img/teacher/3.png " alt=" ">
        </div>
        <div class="row justify-content-center">
            <p> Иван Иванов</p>
        </div>
    </div>

    <div class="col-sm">
        <div class="row justify-content-center">
            <img class="presentation" src="assets/img/teacher/4.png " alt=" ">
        </div>
        <div class="row justify-content-center">
            <p> Иван Иванов</p>
        </div>
    </div>


    <div class="w-100 "></div>


    <div class="col-sm">
        <div class="row justify-content-center">
            <img class="presentation" src="assets/img/teacher/7.png " alt=" ">
        </div>
        <div class="row justify-content-center">
            <p> Иван Иванов</p>
        </div>
    </div>

    <div class="col-sm">
        <div class="row justify-content-center">
            <img class="presentation" src="assets/img/teacher/2.png " alt=" ">
        </div>
        <div class="row justify-content-center">
            <p> Иван Иванов</p>
        </div>
    </div>

    <div class="col-sm">
        <div class="row justify-content-center">
            <img class="presentation" src="assets/img/teacher/3.png " alt=" ">
        </div>
        <div class="row justify-content-center">
            <p> Иван Иванов</p>
        </div>
    </div>

    <div class="col-sm">
        <div class="row justify-content-center">
            <img class="presentation" src="assets/img/teacher/4.png " alt=" ">
        </div>
        <div class="row justify-content-center">
            <p> Иван Иванов</p>
        </div>
    </div>

    <div class="w-100 "></div>


    <div class="col-sm">
        <div class="row justify-content-center">
            <img class="presentation" src="assets/img/teacher/9.png " alt=" ">
        </div>
        <div class="row justify-content-center">
            <p> Иван Иванов</p>
        </div>
    </div>

    <div class="col-sm">
        <div class="row justify-content-center">
            <img class="presentation" src="assets/img/teacher/10.png " alt=" ">
        </div>
        <div class="row justify-content-center">
            <p> Иван Иванов</p>
        </div>
    </div>

    <div class="col-sm"> </div>
    <div class="col-sm"> </div>


</div>

<!-- ********************************************************************************************** -->


<div class="row city-curs">

    <div class="col-12 mycol">
        <p class="title_curs">Поделитесь вашими знаниями</p>
    </div>

  

        <div class="col-sm">

            <div class="justify-content-center">
               
                    <p>Мы стремимся объединить все самые лучшие учебные центры, образовательные платформы, компании и
                        авторов курсов, готовых обучать актуальным профессиям.
                    </p>
               
            </div>

            <div class="button-end">

                <button type="button " class="btn btn-primary " data-toggle="button " aria-pressed="false ">
                    Добавить курс
                </button>
            </div>
        </div>


        <div class="col-sm">
            <div class="row justify-content-center">
                <img class="presentation " src="assets/img/add-curs.png " alt=" ">
            </div>
        </div>

   
</div>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


<div class="row city-curs">

    <div class="col-12 mycol">
        <p class="title_curs">Инфопортал о проффесиях</p>
    </div>

    

    <div class="row ">
        <div class="col-sm">
            <div class="row justify-content-center">
                <img class="presentation " src="assets/img/info-portal-curs.png" alt=" ">
            </div>
        </div>

        <div class="col-sm">

            <div class="justify-content-center">               
                    <p>Регулярные публикации о сферах деятельности, интервью с профильными специалистами, анализ рынка
                        труда, статьи про образование.</p>               
            </div>

            <div class="button-end">
                <a class="item-curs" href="#">Читать наш блог</a>
            </div>
        </div>
    </div>
</div>